<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SuperHeroTeam</a>
      
      <div class="navbar-nav mx-auto">
        <div *ngIf="search" class="input-group input-group-lg">
            <input type="text" class="form-control rounded-pill bg-primary border border-warning" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
    </div>
    </div>
    <div class="w-25">

    </div>
  </nav>